/* Error Box Styling */
.error-box {
    font-size: 16px;
    border: 1px solid #8cb3d9; /* Set border color to match the banner */
    border-radius: 20px; /* Make the edges rounder */
    padding: 20px; /* Add padding to the form box */
    background-color: #f7f7f7; /* Add background color */
    margin: 3px;
    text-align: center;
}

/* Banner Styling */
.banner {
    text-align: center;
    background-color: #8cb3d9;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.banner h1 {
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    margin: 3px;
}

/* Float the buttons to the right side */
.action-buttons {
    text-align: right;
    margin: 3px;
}